<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/mainpage.css" type="text/css">
    <script src="/public/js/mainpage.js" type="javascript"></script>
</head>
<body>
<header>
    <div>
        <h1>Leetcode Problem Tracker</h1>
        <h3 style="color:#A9A1A1;">profile goes here</h3>
    </div>
</header>
<div class="problem-stats">
    <div id="easy">
        <h2>50</h2>
        <div class="color-line" style="background-color: #4BF967"></div>
        <h3>Easy</h3>
    </div>
    <div id="medium">
        <h2>25</h2>
        <div class="color-line" style="background-color: #F7C647"></div>
        <h3>Medium</h3>
    </div>
    <div id="hard">
        <h2>2</h2>
        <div class="color-line" style="background-color: #F63131"></div>
        <h3>Hard</h3>
    </div>
</div>
<div class="problem-list">
    <table class="problem-table">
        <thead>
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Topic</th>
            <th>Time</th>
            <th>Solution</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(row => { %>
            <tr>
                <td><%= row.problem%></td>
                <td><%= row.difficulty %></td>
                <td><%= row.topic %></td>
                <td><%= row.time%></td>
                <td><%= row.solution %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div><br><br>
<footer>
    <small>© 2024 Patterson development. All rights reserved.</small>
</footer>
</body>
</html>