<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" type="text/css">
    <link rel="stylesheet" href="/css/mainpage.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.32.8/ace.js" integrity="sha512-u8Li+VRzprAsXVzZsUJ/BJm5fk6T4yFNFqh8t2QjiwtRopvsrTPss4rwOxsUMdksqngUgLjN6wrxD4DU9c3l7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/mainpage.js"></script>
</head>
<body>
<header>
    <div>
        <h1>Leetcode Problem Tracker</h1>
        <h3 style="color:#A9A1A1;" id="user"><%= username %></h3>
    </div>
</header>
<div class="problem-stats">
    <div id="easy">
        <h2 id="easy-num"><%= easyCount %></h2>
        <div class="color-line" style="background-color: #4BF967"></div>
        <h3>Easy</h3>
    </div>
    <div id="medium">
        <h2 id="medium-num"><%= mediumCount %></h2>
        <div class="color-line" style="background-color: #F7C647"></div>
        <h3>Medium</h3>
    </div>
    <div id="hard">
        <h2 id="hard-num"><%= hardCount %> </h2>
        <div class="color-line" style="background-color: #F63131"></div>
        <h3>Hard</h3>
    </div>
</div>
<!--Pop up coding bar-->
<style>
    #editor { 
        height: 550px;
        width: 900px;
    }

    #close{
        transition: color 0.3s, background-color 0.3s ;
        margin-left: 85%;
        cursor: pointer;
        background-color: #F63131;
        border: solid 2px black;
        width:75px;
        border-radius: 10px;
        text-align: center;
    }

    #close:hover{
        background-color: #a5a5a3;
    }

</style>
<div class="pop-up">
    <h3 id="close" onclick="closePopUp()">CLOSE</h2>
    <pre id="editor" style="font-size:16px"></pre>
</div>
<!--Problem Listings-->
<div class="problem-list">
    <table class="problem-table">
        <thead>
        <tr>
            <th>Problem</th>
            <th>Difficulty</th>
            <th>Topic</th>
            <th>Time</th>
            <th>Solution</th>
        </tr>
        </thead>
        <tbody>
        <% data.forEach(row => { %>
            <tr>
                <td><%= row.problem %></td>
                <td class="difficulty"><%= row.difficulty %></td>
                <td><%= row.topic %></td>
                <td><%= row.time_ %></td>
                <td id="solution" onclick="openPopUp('<%= row.problem%>', '<%= row.solution%>')"><%= row.solution %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
    <div id="page-div">
        <input type="hidden" id="totalPages" value="<%= totalPages %>">
        <input type="hidden" id="currentPage" value="<%= currentPage %>">
    </div>
</div><br><br>
<footer>
    <small>© 2024 Patterson development. All rights reserved.</small>
</footer>
</body>
</html>       
